<div class="index-table" style="margin: 20px 10px;">
    <div class="index-table-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>New {{title}}</h4>
    </div>
    <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
    <app-aspects-form 
        [columns]="columns"
        [appearance]="'fill'"
        [aspects]="form_aspects"
        (submitted)="saveAction($event)"
        *ngIf="!loading">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="$event.preventDefault();save()">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="$event.preventDefault();cancel()">
              Cancel
            </button>
        </div>
    </app-aspects-form>
</div>