<div>
    <app-aspects-form 
    [columns]="1"
    [appearance]="'fill'"
    [aspects]="searchFields"
    [model]="searchModel"
    (submitted)="searchAction($event)">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="$event.preventDefault(); search()">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
        <button mat-raised-button color="warn" (click)="clear()">
          <mat-icon>refresh</mat-icon>
          <span>Clear</span>
        </button>
      </div>
    </app-aspects-form>
</div>