<div class="aspects-form-container">
  <form [formGroup]="group" (ngSubmit)="submit()">
    <div *ngFor="let aspect of aspects">
      <app-aspect-component [data]="{
        aspect: aspect,
        group: group,
        model: model
      }"></app-aspect-component>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button (click)="$event.preventDefault(); cancel()">Cancel</button>
    </div>
  </form>
</div>